* {
    margin: 0;
    padding: 0;
    font-family: "Play";
    color: whitesmoke;
    scroll-behavior: smooth;
    text-decoration: none;
}

a, a:visited {
    text-decoration: none;
    color: whitesmoke;
}


button {
    cursor: pointer;
}

@font-face {
    font-family: Play;
    src: url(./fonts/Play-Regular.ttf);
}

/*---------------------------------NAVIGATION---------------------------------*/

#navbar {
    background-color: #101038;
    display: flex;
    height: 8vh;
    width: 100%;
    justify-content: right;
    position: fixed;
    z-index: 1000;
}

#button-container {
    display: flex;
    width: 20vw;
    justify-content: space-evenly;
    align-items: center;
}

#navbutton {
    background-color: #3AA7E1;
    height: 4vh;
    width: 5vw;
    border: none;
    border-radius: 50px;
    font-size: 1vw;
}

#navbutton:hover, #mobile-navigation button:hover, #exit-button-container button:hover {
    background-color: rgb(47, 187, 230);
}

.section-title {
    display: flex;
    align-items: center;
    padding-left: 1.5vw;
    padding-top: 8vh;
    font-size: 4vmax;
}

#mobile-navigation, #mobile-navigation-menu {
    display: none;
}

@media (max-width: 1024px) {
    #button-container {
        display: none;
    }

    #mobile-navigation-container img{
        filter: invert(100%);
    }

    #mobile-navigation {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    #exit-button-container {
        width: 50vw;
        height: 9.5vh;
        display: flex;
        justify-content: right;
        align-items: center;
    }

    #mobile-navigation button, #exit-button-container button {
        width: 5vh;
        height: 5vh;
        background-color: #3AA7E1;
        border-radius: 100px;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1.5vmax;
    }

    #mobile-nav-img, #exit-button-container-img {
        height: 3vh;
    }

    #mobile-navigation-menu {
        width: 50vw;
        height: 50vh;
        display: none; /*CHANGE TO NONE*/
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        background-color:  #41417e;
        z-index: 9999;
    }

    #navigation-options-container {
        color: whitesmoke;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-family: "Azonix";
        font-size: 5vw;
        padding-left: 2vw;
    }
}



/*---------------------------------ABOUT---------------------------------*/
#About {
    background-image: linear-gradient(#171753, #57577c);
    height: 100vh;
}

#about-outer-flex {
    display: flex;
    gap: 3vw;
    padding: 3vw 4vw 3vw 4vw;
    height: 70vh;
    width: 90vw;
}

#about-outer-flex img {
    height: 70vh;
    width: 40vw;
    object-fit: cover;
    border-radius: 50px;
}

#about-inner-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 5vh;
    font-size: 1.5vmax;
    gap: 1vh;
}

#about-title {
    font-size: 3vw;
}

@media (max-width: 1023px) {
    #about-outer-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3vw 4vw 3vw 4vw;
        height: 70vh;
        width: 90vw;
    }

    #about-outer-flex img {
        height: 28vh;
        width: 100%;
        object-fit: cover;
        border-radius: 50px;
    }
    
    #about-inner-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 2.5vw;
        padding: 0;
        gap: 2vh;
    }

    #about-title {
        font-size: 8vw;
    }
}

/*---------------------------------PROJECTS---------------------------------*/
#Projects {
    background-image: linear-gradient(#57577c, #171753);
}

#project-items-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 8vh;
    gap: 8vh;
    padding-bottom: 8vh;
}

#project-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2vmax;
}

#project-item-image {
    height: 10vmax;
    width: 90vmin;
    position: relative;
}

#project-item-image img {
    height: 10vmax;
    width: 90vmin;
    object-fit: cover; /*subject to change*/
    border-radius: 30px;
}

.project-item-button {
    position: absolute;
    top: 0;
    right: 0; 
    width: 50%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0); /* invisible background */
    color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 30px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2vw;
}

#github-button {
    left: 0;
}

.project-item-button:hover {
    background-color: rgba(0, 0, 0, 0.5); /* Darken on hover */
    color: whitesmoke;
}

@media (max-width: 1024px) {
    .project-item-button {
        background-color: rgba(0,0,0,0.1);
        color: whitesmoke;
    }
}

/*---------------------------------CONTACT---------------------------------*/
#Contact {
    background-color: #101038;
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.8vw;
    gap: 0.5vh;
}

#icon-container {
    display: flex;
    width: 20vw;
    justify-content: space-evenly;
}

#icon-container img{
    height: 3vh;
    filter: invert(100%);
}

@media (max-width: 1024px) {
    #Contact {
        font-size: 2.5vh;
        gap: 1vh;
    }
    
    #icon-container {
        width: 50vw;
    }
    
    #icon-container img{
        height: 4vh;
    }
}